<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>HomeFilter</filter-name>
        <filter-class>filter.HomeFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>HomeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/wishlist</url-pattern>
        <url-pattern>/orders</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/addbook</url-pattern>
        <url-pattern>/updateBook</url-pattern>
        <url-pattern>/deleteBook</url-pattern>
        <url-pattern>/updateGenre</url-pattern>
        <url-pattern>/addGenre</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>GenreController</servlet-name>
        <servlet-class>controller.GenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorController</servlet-name>
        <servlet-class>controller.ErrorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.admin.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookController</servlet-name>
        <servlet-class>controller.admin.AddBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookController</servlet-name>
        <servlet-class>controller.admin.UpdateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookController</servlet-name>
        <servlet-class>controller.admin.DeleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGenreController</servlet-name>
        <servlet-class>controller.admin.AddGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGenreController</servlet-name>
        <servlet-class>controller.admin.UpdateGenreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WishlistController</servlet-name>
        <servlet-class>controller.WishlistController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrdersController</servlet-name>
        <servlet-class>controller.OrdersController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPreviousURLServlet</servlet-name>
        <servlet-class>controller.SetPreviousURLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenreController</servlet-name>
        <url-pattern>/genre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorController</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookController</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookController</servlet-name>
        <url-pattern>/updateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookController</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGenreController</servlet-name>
        <url-pattern>/addGenre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGenreController</servlet-name>
        <url-pattern>/updateGenre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WishlistController</servlet-name>
        <url-pattern>/wishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrdersController</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPreviousURLServlet</servlet-name>
        <url-pattern>/setPreviousURLServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controller.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/error</location>
    </error-page>
</web-app>
